<div class="login-container">
    <h2>Login</h2>
    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
      </div>
      <div>
        <label for="role">Select Role:</label>
        <select id="role" formControlName="role">
          <option value="" disabled>Select Role</option>
          <option *ngFor="let role of roles" [value]="role">{{ role | titlecase }}</option>
        </select>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  